<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <%- include('../partials/header') %>
    <br>
    <br>

    <%- include('../partials/footer') %>
    <%- include('../partials/footerScripts') %>
</body>

</html>